.header {
    text-align: center;
    color: rgb(227, 29, 36);
}

.info-container {
    padding-top: 25px;
    background-color: #141414;
}

.burnplants-container {
    margin-top: 25px;
    height: 250px;
    margin-bottom: 25px;
}

.burnplants-image {
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/burnplants.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 1
}

.burnplants-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.flood-container {
    margin-top: 25px;
    height: 250px;
    margin-bottom: 25px;
}

.flood-image {
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/flood.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 1
}

.flood-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.flash-flood-map-container {
  margin-top: 25px;
  height: 250px;
  margin-bottom: 25px;
}

.flash-flood-map-image {
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/flash-flood-map.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 1;
}

.flash-flood-map-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.solid-seperator {
  margin-top: 2px;
  border-top: 1px solid #242424;
  border-radius: 1px;
}

.prevent-btn {
  margin-top: 10px;
  border-radius: .4rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 50px;
  font-size: 1.2rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#1c1c1c,rgb(227, 29, 36));
  border: 0 solid;
  overflow: hidden;
}

.prevent-btn:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 60px;
  padding-left: 60px;
}